
nav {
  right: 0px;
  top: 0;
  width: 100%;
  padding: 1rem 0;
  z-index: 1000;
  border-bottom: 1px solid #ccc;
  display: grid;
  position: fixed;
  grid-template-columns: (3, 1fr);
  grid-template-rows: (1);

  grid-template-areas: 
  "title buttons cart";
}
nav h2 {
    grid-area: title;
    margin: 0;
    padding: 10px;
    font-size: 18px;
    align-items: baseline;
  }

nav div{
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: baseline;
}

nav button{
 grid-area: buttons;
 margin: 0 15px;
 padding: 0.5rem 1rem;
 font-size: 1rem;
}

nav img {
  align-items: baseline;
  grid-area: cart;
  width: 40px;
}
